<html>
    <body>
        <div id="main">Loading...</div>
        {% block javascripts %}
            <script src="{{ asset('/bundles/devtimeraffler/js/jquery.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('/bundles/devtimeraffler/js/underscore.js') }}" type="text/javascript"></script>
            <script src="{{ asset('/bundles/devtimeraffler/js/backbone.js') }}" type="text/javascript"></script>
            <script src="{{ asset('/bundles/devtimeraffler/js/app.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
